In [2]:
import numpy as np
import pandas as pd

In [9]:
rng = np.random.RandomState(42)
rng.randint(0,10,4)

array([6, 3, 7, 4])

In [10]:
data = pd.Series([1,np.nan,'hello',None])
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [12]:
data.isnull()#判断数据是不是缺失值，是就返回True 否则False

0    False
1     True
2    False
3     True
dtype: bool

In [13]:
data.notnull()#与isnull相反

0     True
1    False
2     True
3    False
dtype: bool

In [18]:
data[data.isnull()]

1     NaN
3    None
dtype: object

In [19]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [20]:
data.dropna()#剔除缺失值

0        1
2    hello
dtype: object

In [21]:
df = pd.DataFrame([[1,np.nan,2],
                   [2,  3,   4],
                   [np.nan,4,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

In [22]:
df.dropna()#在DataFrame类型中剔除时，默认剔除有缺失值的正行，设置参数axis可以按不同坐标轴剔除
#但是这样会剔除不是缺失值的元素，还有how参数设置 how = any  /  all

     0    1  2
1  2.0  3.0  4

In [24]:
df.dropna(axis=1)#或者df.drop(axis = 'columns')

   2
0  2
1  4
2  6

In [30]:
df.dropna(axis=1,thresh = 3)#thresh参数用来设置行或列中非缺失值的数量

   2
0  2
1  4
2  6

In [33]:
data1 = pd.Series([1,np.nan,2,None,3],index = list('abcde'))
data1

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [38]:
data1.fillna(0)#用0填充缺失值

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [40]:
data1.fillna(method = 'ffill')#在缺失值处填充上一个有效值,从后往前添加用'bfill'（foward-fill  /  back-fill）

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [41]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

In [42]:
df.fillna(0)

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  4
2  0.0  4.0  6

In [45]:
df.fillna(method = 'ffill')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  2.0  4.0  6

In [47]:
df.fillna(method = 'bfill')#如果缺失值前面没有值那么仍然是缺失值

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  4
2  NaN  4.0  6