In [6]:
import seaborn as sns
import numpy as np
import pandas as pd

In [9]:
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [14]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [15]:
ser.sum()

2.811925491708157

In [16]:
planets.dropna()#剔除有缺失值的行

              method  number  orbital_period     mass  distance  year
0    Radial Velocity       1      269.300000   7.1000     77.40  2006
1    Radial Velocity       1      874.774000   2.2100     56.95  2008
2    Radial Velocity       1      763.000000   2.6000     19.84  2011
3    Radial Velocity       1      326.030000  19.4000    110.62  2007
4    Radial Velocity       1      516.220000  10.5000    119.47  2009
5    Radial Velocity       1      185.840000   4.8000     76.39  2008
6    Radial Velocity       1     1773.400000   4.6400     18.15  2002
8    Radial Velocity       1      993.300000  10.3000     73.10  2008
9    Radial Velocity       2      452.800000   1.9900     74.79  2010
10   Radial Velocity       2      883.000000   0.8600     74.79  2010
11   Radial Velocity       1      335.100000   9.8800     39.43  2009
12   Radial Velocity       1      479.100000   3.8800     97.28  2008
13   Radial Velocity       3     1078.000000   2.5300     14.08  1996
14   Radial Velocity       3     2391.000000   0.5400     14.08  2001
15   Radial Velocity       3    14002.000000   1.6400     14.08  2009
16   Radial Velocity       1        4.230785   0.4720     15.36  1995
17   Radial Velocity       5       14.651000   0.8000     12.53  1996
18   Radial Velocity       5       44.380000   0.1650     12.53  2004
19   Radial Velocity       5     4909.000000   3.5300     12.53  2002
21   Radial Velocity       5      261.200000   0.1720     12.53  2007
22   Radial Velocity       3        4.215000   0.0160      8.52  2009
23   Radial Velocity       3       38.021000   0.0570      8.52  2009
24   Radial Velocity       3      123.010000   0.0720      8.52  2009
27   Radial Velocity       1      952.700000   5.3000     97.18  2008
28   Radial Velocity       1      181.400000   3.2000     45.52  2013
45   Radial Velocity       1      380.800000   1.8000     20.21  2010
46   Radial Velocity       1        3.235700   0.0036      1.35  2012
48   Radial Velocity       1     2502.000000   1.5500      3.22  2000
50   Radial Velocity       1      594.900000   7.6000     47.53  2006
51   Radial Velocity       1      428.500000   8.7800     38.52  2009
..               ...     ...             ...      ...       ...   ...
610  Radial Velocity       1      672.100000  11.1000    289.02  2012
611  Radial Velocity       1     2209.000000   1.0600     45.23  2012
612  Radial Velocity       1     3724.700000   1.4500     48.43  2011
613  Radial Velocity       1      456.100000   3.0900     52.88  2007
614  Radial Velocity       1     3999.000000   1.9000     50.45  2011
615  Radial Velocity       1      572.380000   7.7500     41.95  1999
616  Radial Velocity       1       26.730000   0.7100     94.07  2006
617  Radial Velocity       1      141.600000   1.0800    108.46  2007
620  Radial Velocity       1      745.700000   5.3000    307.69  2011
621  Radial Velocity       1     2443.000000   2.5400     54.92  2009
622  Radial Velocity       1        8.783600   0.0265      9.42  2008
623  Radial Velocity       1        3.369000   0.7600     50.20  2004
624  Radial Velocity       2      345.720000   1.4200     44.80  2009
626  Radial Velocity       1       57.000000   0.4700     23.80  2010
627  Radial Velocity       1       16.200000   1.2500    223.21  2010
628  Radial Velocity       3        6.673855   3.8800     52.88  2005
629  Radial Velocity       3      147.730000   1.2800     52.88  2006
630  Radial Velocity       3      952.000000   0.5700     52.88  2009
631  Radial Velocity       1       41.397000   0.2980     11.03  2010
632  Radial Velocity       3        8.135200   0.0360     25.87  2011
633  Radial Velocity       3       32.030000   0.4100     25.87  2011
634  Radial Velocity       3      431.700000   0.5270     25.87  2011
636  Radial Velocity       1      124.600000   9.1800    149.25  2013
637  Radial Velocity       1    17337.500000   9.0000     23.98  2009
638  Radial Velocity       1      511.098000   8.8200     31.33  2002
640  Radial Velocity       1      111.700000   2.1000     14.90  2009
641  Radial Velocity       1        5.050500   1.0680     44.46  2013
642  Radial Velocity       1      311.288000   1.9400     17.24  1999
649          Transit       1        2.703390   1.4700    178.00  2013
784  Radial Velocity       3      580.000000   0.9470    135.00  2012

[498 rows x 6 columns]

In [18]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [26]:
planets.mad()#均值绝对偏差

number               0.903144
orbital_period    3181.747643
mass                 2.580056
distance           318.100885
year                 3.056798
dtype: float64

In [27]:
planets.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [7]:
df = pd.DataFrame({'key':['A','C','B','C','A','B'],
                  'data':range(6)},columns=['key','data'])
df

  key  data
0   A     0
1   C     1
2   B     2
3   C     3
4   A     4
5   B     5

In [9]:
df.groupby('key').sum()

     data
key
A       4
B       7
C       4

In [8]:
print(df)

  key  data
0   A     0
1   C     1
2   B     2
3   C     3
4   A     4
5   B     5