In [1]:
import numpy as np
import pandas as pd

In [2]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [3]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [4]:
indA ^ indB#把不一样的取出来，一样的去掉

Int64Index([1, 2, 9, 11], dtype='int64')

In [6]:
indA.intersection(indB) #交集

Int64Index([3, 5, 7], dtype='int64')

DataFrame数据选择方法

In [7]:
area = pd.Series({'California':423967,'Texas':695662,'New York':141297,'Flooida':170312,'Illinis':149995})
pop = pd.Series({'California':38332521,'Texas':26448193,'New York':19651127,'Flooida':19552860,'Illinis':12882135})
data = pd.DataFrame({'area':area,'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Flooida     170312  19552860
Illinis     149995  12882135

In [9]:
data.iloc[:2,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193

In [10]:
data['densinty'] = data['pop'] / data['area']

In [11]:
data

              area       pop    densinty
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Flooida     170312  19552860  114.806121
Illinis     149995  12882135   85.883763

In [19]:
data['California':'Flooida']

              area       pop    densinty
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Flooida     170312  19552860  114.806121

In [22]:
data.iloc[:,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Flooida     170312  19552860
Illinis     149995  12882135

In [40]:
data.loc[:,['area','densinty']]

              area    densinty
California  423967   90.413926
Texas       695662   38.018740
New York    141297  139.076746
Flooida     170312  114.806121
Illinis     149995   85.883763